@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}
@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}
@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}
@font-face {
    font-family: KaushanScript;
    src: url('fonts/KaushanScript.otf');
}
@font-face {
    font-family: ConfigCondensed;
    src: url('fonts/ConfigCondensed.otf');
}
@font-face {
    font-family: Bahnschrift;
    src: url('fonts/Bahnschrift.TTF');
}

:root {
    --light-color: rgb(57, 57, 94);
    --dark-color: #262626ff;
}

html {
    background-color: var(--light-color);
}

body {
    -webkit-user-select: none;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    user-select:none}

body {
    margin: 0;
}

#tile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#content {
    height: 580px;
    width: 360px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}

#caractere {
    margin-top: 200px;
    font-size: 150px;
}

#pron {
    display: none;
    margin-top: 50px;
    font-family: Bahnschrift;
    font-size: 50px;
}

#content:active #pron {
    display: block;
}

#back-button {
    margin-right: 3vw;
    margin-left: 3vw;
    height: clamp(40px, 4vw, 7vw);
    width: clamp(40px, 4vw, 7vw);
    border-radius: 70px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#forth-button {
    margin-right: 3vw;
    margin-left: 3vw;
    height: clamp(40px, 4vw, 7vw);
    width: clamp(40px, 4vw, 7vw);
    border-radius: 70px;
}

#slider {
    background-color: white;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 360px;
    border-radius: 15px;
    font-family: Bahnschrift;
}

#mainslider2 {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 360px;
    border-radius: 15px;
    font-family: Bahnschrift;
}

#choser {
    height: 30px;
    width: 120px;
    border-radius: 15px;
    background-color: var(--dark-color);
    margin-left: 0px;
    transition-duration: 0.25s
}

#choser2 {
    height: 30px;
    width: 90px;
    border-radius: 15px;
    background-color: var(--dark-color);
    margin-left: 0px;
    transition-duration: 0.25s
}

#container {
    position: absolute;
    height: 30px;
    width: 360px;
    top: 55px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#container2 {
    position: absolute;
    height: 30px;
    width: 360px;
    top: 115px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#slider1, #slider2, #slider3, #slider4, #slider5, #slider6, #slider7 {
    width: 150px;
    cursor: pointer;
    color: black;
}

#slider1, #slider4 {
    color: white;
}

@media only screen and (max-width: 600px) {
    #content {
        height: calc(580px/1.8);
        width: calc(360px/1.8);
    }
    #caractere {
        margin-top: 100px;
        font-size: 75px;
    }
    #pron {
        margin-top: 20px;
        font-size: 25px;
    }
}

#actualiser {
    display: flex;
    text-align: center;
    margin-top: 30px;
    width: 100vw;
    justify-content: center;
    border-radius: 50px;
}

#shuffle {
    height: clamp(45px, 4vw, 7vw);
}

#progress {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

#progress-back {
    background-color: white;
    width: 300px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#progress-bar {
    height: 10px;
    width: calc((300px/15)*1);
    background-color: var(--dark-color);
}